.game-title
{
    -fx-font-family: Impact;
    -fx-font-size: 100;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-spacing: 10;
    -fx-effect: dropshadow(one-pass-box , rgb(255, 255, 255), 30, 50 , 0 , 0);
}