.popup-alert
{
    -fx-max-width: 450;
    -fx-max-height: 200;
    -fx-alignment: center;
    -fx-spacing: 25;
    -fx-padding: 15;
    -fx-background-color: #b1b1b1;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(two-pass-box, rgb(0, 0, 0), 30, 0.6, 0, 0);
    -fx-border-width: 6;
    -fx-border-color: #e7e7e7;
    -fx-border-radius: 6;
}

.title
{
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.info
{
    -fx-font-size: 18;
}

.buttons-container
{
    -fx-alignment: baseline-center;
    -fx-spacing: 10;
}