.popup-alert-button
{
    -fx-padding: 3 8;
    -fx-background-radius: 8;
    -fx-background-color: #535353;
    -fx-effect: dropshadow(one-pass-box, #d9d9d9, 0, 0, 3, 3);
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-border-color: #454545;
    -fx-border-radius: 8;
    -fx-border-width: 2;
}

.popup-alert-button:hover
{
    -fx-background-color: #454545;
}

